body {
    font-family: sans-serif;
    background-color: #2e3440;
    color: #d8dee9;
    padding-left: 5%;
    padding-right: 5%;
}

#home-header{
    text-align: center;
}

#post-top {
    text-align: center;
}

a {
    color: #d8dee9;
}
