body {
    font-family: sans-serif;
        background-color: #4c566a;
    color: #E0E0E0;
    padding-left: 5%;
    padding-right: 5%;
}

#home-header{
    text-align: center;
}

#post-top {
    text-align: center;
}

a {
    color: #E0E0E0;
}
