/*css reset*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*variables*/
:root {
  --bg: rgba(207, 207, 207, 0.4);
  --container-bg: #fefefe;
  --fg: #303030;
  --link: green;
  --link-hover: #f75115;

  @media (prefers-color-scheme: dark) {
    --bg: #1d1d1d;
    --container-bg: #333333;
    --fg: #f5f5f5;
    --link: #1aefef;
    --link-hover: yellow;
  }
}

html {
  background: var(--bg);
  color: var(--fg);
}

body {
  font-family: Helvetica, Roboto, "Liberation Sans", Arial, sans-serif;
  background: var(--container-bg);
  width: 75ch;
  margin: auto;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  line-height: 1.5;
}

.heading {
  text-transform: lowercase;
}

pre {
  max-width: 100%;
  overflow: auto;
  padding: 1rem;
  border: 1px solid #ccc;
}

a,
a:visited {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

nav ul li {
  margin: 0.5rem 0;
}

hr {
  height: 1px !important;
  border: none;
  border-top: 1px solid var(--fg);
}

@media (width<40em) {
  body {
    width: 98%;
  }
}
